################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NavomiApi/.vs/NavomiApi/v15/Server/sqlite3/db.lock
